<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">
            <td th:text="${categories.name}"></td>
        </h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{/category/create}">
                    <button type="submit" class="btn btn-primary">Create new</button>
                </form>

                <table id="users" class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>ProductName</th>
                        <th>Brand</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prod : ${categories.productList}">
                        <td th:text="${prod.id}"></td>
                        <td th:text="${prod.title}">Admin</td>
                        <td th:text="${prod.brandName}">Admin</td>
                        <td th:text="${prod.price}">Admin</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script th:src="@{/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#categories').DataTable();
    });
</script>

</body>
</html>